<script>
 function deleteSend(id){
    var xhr = new XMLHttpRequest();   
    xhr.open("DELETE", '/admin/delete/'+id, true)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

    xhr.onreadystatechange = function() {
        if (this.readyState != 4) return;
        //document.write(this.responseText);
        window.location.href='/admin';
    }

    xhr.send();    
}

function freeSend(id){    
    var xhr = new XMLHttpRequest();   
    xhr.open("PUT", '/admin/free/'+id, true)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.onreadystatechange = function() {
        if (this.readyState != 4) return;
        //document.write(this.responseText);
        window.location.href='/admin';
    }
    xhr.send();    
}
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <div class="container">
        <div class="row">
            <h1>Пристрої</h1>
            <br>
            <table class="table table-striped">
            <tr>
                <th>№</th>
                <th>Пристрій</th>
                <th>Інвентарний номер</th>
                <th>Дата видачі</th>
                <th>Строк оренди</th>
                <th>Хто взяв</th>
                <th>Дії</th>
            </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { 

                    if (data[i].tookDate =='') {
                 %>
                 
                <tr class="success">

                <%} else {%>
                <tr class="danger">
                <%}%>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].devise%></td>
                     <td><%=data[i].deviseNumber%></td>
                    <td><%=data[i].tookDate%></td>
                    <td><%=data[i].period%></td>
                    <td><%=data[i].whoTook%></td>
                     <td>
                        <button type="button"class="btn btn-success" onClick="freeSend(<%=i+1%>)">Повернути</button>

                        <button type="button"class="btn btn-warning" onClick="window.location.href='../admin/edit/<%=i+1%>'">Редагувати</button>
                        <button type="button"class="btn btn-danger" onClick="deleteSend(<%=i+1%>)">Видалити</button>
                    </td>
                </tr>
            <% } } %>
            </table>
        </div>
        <div class="row">
            <button type="button"class="btn btn-success" onClick="window.location.href='../admin/add'">Додати пристрій</button>
            <button type="button"class="btn btn-info" onClick="window.location.href='../admin/load'">Вивантажити протокол</button>

            <button type="button"class="btn btn-primary" onClick="window.location.href='../admin/changepas'">Змінити пароль</button>
             
        </div>


<div id="modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Lorem Ipsum</h2>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec placerat sem ipsum, ut faucibus nulla. Nullam mattis volutpat
        dolor, eu porta magna facilisis ut. In ultricies, purus sed pellentesque
        mollis, nibh tortor semper elit, eget rutrum purus nulla id quam.</p>
    </div>
</div>


    </div>
        

