<script>
 function editSend(){

    var xhr = new XMLHttpRequest();

    var body = 'devicename=' + document.getElementById("devicename").value+
    '&devicenumber=' + document.getElementById("devicenumber").value+
        '&tookdate=' + document.getElementById("tookdate").value+
        '&owner=' + document.getElementById("owner").value+
        '&returndate=' + document.getElementById("returndate").value;    
    xhr.open("PUT", '/admin/edit/<%=data.id%>', true)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

    xhr.onreadystatechange = function() {
        if (this.readyState != 4) return;
        //document.write(this.responseText);
        window.location.href='/admin';
    }

   xhr.send(body); 
   
}

function clearDate(dateElemID){
    document.getElementById(dateElemID).value ='';

}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="container">
        <div class="row">
            <h1>Редагування</h1>            
            <br>
                <table class="table table-striped">
                <tr>
                    <td >Пристрій</td>
                    <td> <input type="text" id="devicename" value="<%=data.devicename%>" required></td>
                </tr>
                 <tr>
                    <td >Інвентарний номер</td>
                    <td><input type="text" id="devicenumber"  value="<%=data.devicenumber%>" required></td>
                </tr>                
                <tr>
                    <td>Дата видачі</td>
                    
                    
                    <td><input type="date" id="tookdate" value="<%=data.tookdate%>" required>
                        <input class="btn btn-info" type="button" value="Очистити" 
                        onClick="clearDate('tookdate');">

                    </td>
                    
                </tr>
                
                <tr>
                    <td>Дата повернення</td>
                    <td><input type="date" id="returndate" value="<%=data.returndate%>"required>
                        <input class="btn btn-info" type="button" value="Очистити" 
                        onClick="clearDate('returndate');">
                    </td>
                </tr>
                <tr>
                   <td >Хто взяв</td>
                   <td><input type="text" id="owner" value="<%=data.owner%>" required></td>
                </tr>
                  
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-success" type="button" name="submit" value="Зберегти" 
                        onClick="editSend();">
                        <input class="btn btn-danger" type="button" name="cancel" value="Відмінити"  
                        onClick="window.location.href='/admin'">
                    </td>
                </tr>
                </table>
        </div>
    </div>
        


